<!-- app.component.html -->

<div class="container">
  <h1>Welcome to {{title}} <img src="https://avatars.githubusercontent.com/u/38231749?s=280&v=4" alt="" width="80"
      height="80"></h1>
  <h4>A docker resource manager</h4>

  <br>
  <h4>Running a container</h4>

  <form [formGroup]="angForm" (ngSubmit)="runContainer()" novalidate>

    <div class="form-row">

      <div class="col">
        <label>Image:tag <span style="color:red;">*</span></label>
        <input class="form-control" [(ngModel)]="containerRequest.image" minlength="1" required
          formControlName="imageNameTag" type="text">
        <div
          *ngIf="angForm.controls['imageNameTag'].invalid && (angForm.controls['imageNameTag'].dirty || angForm.controls['imageNameTag'].touched)"
          class="alert alert-danger">
          <div *ngIf="angForm.controls['imageNameTag'].errors.required">
            Image name is required.
          </div>          
        </div>
      </div>

      <div class="col">
        <label>Name:</label>
        <input class="form-control" [(ngModel)]="containerRequest.name" formControlName="containername" type="text">
      </div>

    </div>


    <div class="form-row">

      <div class="col">
        <label>Port (external:internal):</label>
        <input class="form-control" [(ngModel)]="containerRequest.port" formControlName="containerPort"  type="text">
        <div
          *ngIf="angForm.controls['containerPort'].invalid && (angForm.controls['containerPort'].dirty || angForm.controls['containerPort'].touched)"
          class="alert alert-danger">
          <div *ngIf="angForm.controls['containerPort'].errors.pattern">
            If provided, must be formated as 8080:80 for example. Being "external:internal" docker
          </div>     
        </div>
      </div>


      <div class="col">
        <label>Environment:</label>
        <input class="form-control" [(ngModel)]="containerRequest.env_full" formControlName="containerEnvFull" type="text">
        <div
          *ngIf="angForm.controls['containerEnvFull'].invalid && (angForm.controls['containerEnvFull'].dirty || angForm.controls['containerEnvFull'].touched)"
          class="alert alert-danger">
          <div *ngIf="angForm.controls['containerEnvFull'].errors.pattern">
            If provided, must be formated as: ENV_NAME=ENV_VALUE or NV_NAME1=ENV_VALUE1,NV_NAME2=ENV_VALUE2, ...
          </div>
        </div>
      </div>

    </div>

    <br>
    <button type="submit" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-success">
      Submit
    </button>
  </form>

  <br />

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Running containers</li>
    </ol>
  </nav>
  <div class="container">
    <div class="card list-transfer">
      <h5 class="card-header">Container list</h5>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Image</th>
              <th scope="col">StartedAt</th>
              <th scope="col">Status</th>
              <th scope="col">Port</th>
              <th scope="col">CreatedAt</th>
            </tr>
          </thead>
          <tbody>
            <tr [hidden]="ct.Name.includes('prom_')" *ngFor="let ct of containers">
              <td>{{ct.ShortId}}</td>
              <td>{{ct.Name.substring(0, 15)}}</td>
              <td>{{ct.Image.substring(0, 15)}}</td>
              <td>{{ct.State.StartedAt.split(".")[0]}}</td>
              <td>{{ct.State.Status}}</td>
              <td><a href="{{ extractLink(ct) }}" target="_blank">{{extractPort(ct)}}</a></td>
              <td>{{ct.CreatedAt}}</td>
              <td>
                <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleteContainerById(ct.ShortId)">Delete</button>
              </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <br>

  <h4>Pulling an image</h4>

  <form [formGroup]="imageForm" (ngSubmit)="pullImage()" novalidate>

    <div class="form-row">

      <div class="col">
        <label>Name <span style="color:red;">*</span></label>
        <input class="form-control" [(ngModel)]="imageRequest.name" minlength="1" required formControlName="imageName" type="text">
        <div
          *ngIf="imageForm.controls['imageName'].invalid && (imageForm.controls['imageName'].dirty || imageForm.controls['imageName'].touched)"
          class="alert alert-danger">
          <div *ngIf="imageForm.controls['imageName'].errors.required">
            Image name is required
          </div>
        </div>
      </div>

      <div class="col">
        <label>Tag:</label>
        <input class="form-control" [(ngModel)]="imageRequest.tag" formControlName="imageTag"
          type="text">        
      </div>

    </div>
    <br>
    <button type="submit" [disabled]="imageForm.pristine || imageForm.invalid" class="btn btn-success">
      Submit
    </button>
  </form>

  <br />

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Pulled images</li>
    </ol>
  </nav>
  <div class="container">
    <div class="card list-transfer">
      <h5 class="card-header">Images list</h5>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Tag</th>
              <th scope="col">CreatedAt</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let im of images">
              <td>{{im.ShortId}}</td>
              <td>{{im.Name}}</td>
              <td>{{im.Tag}}</td>
              <td>{{im.CreatedAt}}</td>
              <td>
                <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleteImageById(im.ShortId)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>